@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$primary-font: 'Poppins', sans-serif;
$primary-color: #ff1744;
$layout-background: #292929;
$text-color: #ffffff;

body {
  font-family: $primary-font;
  color: $text-color;
  background-color: $layout-background;
}